<h1>All hosts</h1>

<%= will_paginate %>

<ul class ="hosts">
	<% @hosts.each do |host| %>
		<li>
			<%= gravatar_for host, size: 52 %>
			<%= link_to host.first_name, host %>
		</li>
	<% end %>
	
<%= will_paginate %>
</ul>	