<div class="row">
	<aside class="span4">
		section
			<h1>
				<%= gravatar_image_tag @host.email %>
				<%= @host.first_name %><%= @host.last_name %>&nbsp<%= @host.email %>
			</h1>
		</section>
	</aside>
</div>