<footer class="footer">
	<small>
		<a href="http://www.facebook.com/schaxz/">Creator</a>
		 Srinjoy Chakravarty
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %> </li>
			<li><a href="http://twitter.com/#!/Srinjoy_Chakrav/">Owner</a></li>
		</ul>
	</nav>	
</footer>