<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "guests", '#', id: "logo" %>
			<nav>
				<ul clas="nav pull-right">
				    <li><%= link_to "Home", 'root_path' %> </li>
					<li><%= link_to "Sign up", 'signup_path' %> </li>
					<li><%= link_to "Sign in", 'signin_path' %> </li>
				</ul>
			</nav>	
		</div>
	</div>
</header>